<!--h3 style="padding:10px;">MANAGER DASHBOARD</h3-->
<div style="background-color:#cecece;margin-top:45px;height:70px;position:fixed;z-index:1000;width:100%;padding:10px;">
    </div>
    <div class="clearfix"></div>
<section class="content" style="padding:20px;min-height:175px;margin-top:115px;" id="topsheet">
    <!-- Small boxes (Stat box) -->
    <div class="row">
      <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-aqua">
          <div class="inner">
            <h3>{{enquiry_count}}</h3>
            <p>Enquiries</p>
            <p>({{enquiry_goal}})</p>
          </div>
          <div class="icon">
            <i class="ion ion-bag"></i>
          </div>
          <a href="#/goals_report/enquiry" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-yellow">
            <div class="inner">
            <h3>{{site_visit_count}}</h3>

            <p>Site Visit</p>
            <p>({{site_visit_goal}})</p>
            </div>
            <div class="icon">
            <i class="ion ion-person-add"></i>
            </div>
            <a href="#/goals_report/site_visit" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
        </div>
      <!-- ./col -->
      <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-green">
          <div class="inner">
            <h3>{{client_meeting_count}}</h3>

            <p>Client Meeting</p>
            <p>({{client_meeting_goal}})</p>
          </div>
          <div class="icon">
            <i class="ion ion-stats-bars"></i>
          </div>
          <a href="#/goals_report/client_meeting" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <!-- ./col -->
      
      <!-- ./col -->
      <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-red">
          <div class="inner">
            <h3>{{deal_count}}</h3>

            <p>Deal</p>
            <p>({{deal_goal}})</p>
          </div>
          <div class="icon">
            <i class="ion ion-pie-graph"></i>
          </div>
          <a href="#/goals_report/deal" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <!-- ./col -->
    </div>
</section>

<div style="background-color:#f5f4fd;color:#605f5f;width:100%;height:394px;margin-top:6px;padding:60px;padding-top:42px;font-family:Helvetica Neue Thin;">
    <h1 style="color:#ff0000">Alerts</h1>
    <p>These are total alters from the current date range</p>
    <div class="flexslider">
            <ul class="slides">
                <li>
                    <div class="slider">
                        <p><img src="dist/img/alert1.jpg"/></p>
                        <p>Vinay Pal</p>
                        <p>vin_bom@hotmail.com</p>
                        <p>919987781324</p>
                        <p></p>
                        <p>Birthdays</p>
                        <p>23-01-2017</p>
                    </div>
                </li>
                <li>
                    <div class="slider">
                        <p><img src="dist/img/alert2.jpg"/></p>
                        <p>Vinay Pal</p>
                        <p>vin_bom@hotmail.com</p>
                        <p>919987781324</p>
                        <p></p>
                        <p>Birthdays</p>
                        <p>23-01-2017</p>
                    </div>
                </li>
                
                <li>
                    <div class="slider">
                        <p><img src="dist/img/alert3.jpg"/></p>
                        <p>Vinay Pal</p>
                        <p>vin_bom@hotmail.com</p>
                        <p>919987781324</p>
                        <p></p>
                        <p>Birthdays</p>
                        <p>23-01-2017</p>
                    </div>
                </li>
                <li>
                    <div class="slider">
                        <p><img src="dist/img/alert4.jpg"/></p>
                            <p>Vinay Pal</p>
                            <p>vin_bom@hotmail.com</p>
                            <p>919987781324</p>
                            <p></p>
                            <p>Birthdays</p>
                            <p>23-01-2017</p>
                        </div>
                    </li>
                <li>
                    <div class="slider">
                        <p><img src="dist/img/alert5.jpg"/></p>
                        <p>Vinay Pal</p>
                        <p>vin_bom@hotmail.com</p>
                        <p>919987781324</p>
                        <p></p>
                        <p>Birthdays</p>
                        <p>23-01-2017</p>
                    </div>
                </li>
                <li>
                        <div class="slider">
                            <p><img src="dist/img/alert1.jpg"/></p>
                            <p>Vinay Pal</p>
                            <p>vin_bom@hotmail.com</p>
                            <p>919987781324</p>
                            <p></p>
                            <p>Birthdays</p>
                            <p>23-01-2017</p>
                        </div>
                    </li>
        <li>
                <div class="slider">
                    <p><img src="dist/img/alert2.jpg"/></p>
                    <p>Vinay Pal</p>
                    <p>vin_bom@hotmail.com</p>
                    <p>919987781324</p>
                    <p></p>
                    <p>Birthdays</p>
                    <p>23-01-2017</p>
                </div>
            </li>

    </div>
</div>
<div style="background-color:#f5f4fd;color:#605f5f;width:100%;height:394px;margin-top:6px;padding:60px;padding-top:42px;font-family:Helvetica Neue Thin;">
    <h1 style="color:#ff0000;margin-top:0px;margin-bottom:0px;">Billing</h1>
    <p style="font-weight:bold; ">Billing by each broker, monthly billing for past 6 months.</p>
    <div class="flexslider" flex-slider="">
        <ul class="slides">
            <li>
                <div class="slider">
                        <div class="cornerno">1</div>
                    <p><img src="dist/img/properties1.jpg"/></p>
                    <p style="font-weight:bold;">Rent 2 BHK Vila Apartment Flat</p>
                    <p>Goregaon (East)</p>
                    <p></p><br>
                    <p>Mr. Mangesh Patil</p>
                    <p>8401064164</p>
                </div>
            </li>
            <li>       
                <div class="slider">
                        <div class="cornerno">2</div>
                    <p><img src="dist/img/properties2.jpg"/></p>
                    <p style="font-weight:bold;">Rent 2 BHK Om Apartment Flat</p>
                    <p>Malad</p>
                    <p></p><br>
                    <p>Mr. Sridhar Deshpande</p>
                    <p>8401064164</p>
                </div>
            </li>
            
            <li>
                <div class="slider">
                        <div class="cornerno">3</div>
                    <p><img src="dist/img/properties3.jpg"/></p>
                    <p style="font-weight:bold;">Sale 3 BHK Vila Apartment Flat</p>
                    <p>Dahisar</p>
                    <p></p><br>
                    <p>Mr. Nagraj Borse</p>
                    <p>8401064164</p>
                </div>
            </li>
            <li>
                <div class="slider">
                        <div class="cornerno">4</div>
                    <p><img src="dist/img/properties4.jpg"/></p>
                    <p style="font-weight:bold;">Rent 2 BHK Vila Apartment Flat</p>
                    <p>Boriwali</p>
                    <p></p><br>
                    <p>Mr. Nayan Shelke</p>
                    <p>8401064164</p>
                    </div>
                </li>
            <li>
                <div class="slider">
                        <div class="cornerno">5</div>
                    <p><img src="dist/img/properties5.jpg"/></p>
                    <p style="font-weight:bold;">Sale 2 BHK Vila Apartment Flat</p>
                    <p>Andheri</p>
                    <p></p><br>
                    <p>Mr. Shardul Bhargav</p>
                    <p>8401064164</p>
                </div>
            </li>
            <li>
                <div class="slider">
                        <div class="cornerno">6</div>
                    <p><img src="dist/img/properties1.jpg"/></p>
                    <p style="font-weight:bold;">Rent 2 BHK Vila Apartment Flat</p>
                    <p>Palghar</p>
                    <p></p><br>
                    <p>Mr. Parth Thakkar</p>
                    <p>8401064164</p>
                </div>
            </li>
            <li>
                <div class="slider">
                        <div class="cornerno">7</div>
                    <p><img src="dist/img/properties2.jpg"/></p>
                    <p style="font-weight:bold;">Rent 2 BHK Vila Apartment Flat</p>
                    <p>Pune</p>
                    <p></p><br>
                    <p>Mr. Parth Thakkar</p>
                    <p>8401064164</p>
                </div>
            </li>
        </ul>
        <div id="viewmore">
            <p>Buy &nbsp;&nbsp;&nbsp;&nbsp;:12</p>
            <p>Rent  &nbsp;&nbsp;&nbsp;:118</p>
            <p style="margin-top:40px;font-size:20px;font-weight:500;">MORE <i class="fa fa-angle-double-right"></i>&nbsp;</p>
        </div>
    </div>
</div>


<div style="background-color:#f5f4fd;color:#605f5f;width:100%;height:394px;margin-top:6px;padding:60px;padding-top:42px;font-family:Helvetica Neue Thin;">
    <h1 style="color:#ff0000;margin-top:0px;margin-bottom:0px;">Properties</h1>
    <p style="font-weight:bold;">These are total properties from the current date range</p>
    <div class="flexslider" flex-slider="">
        <ul class="slides">
            <li ng-repeat="total_listing in total_listings" >
                <a href="#/properties_edit/{{total_listing.property_id}}">
                    <div class="slider">
                        <div class="cornerno">1</div>
                        <p><img src="dist/img/no_image.jpg" ng-if="total_listing.filenames==null " style="width:188px;height:126px;" /> 
                            <img src="api/v1/uploads/property/{{total_listing.filenames}}" ng-if="total_listing.filenames!=null " style="width:188px;height:126px;" /> </p>
                            
                            
                            <!--<img src="dist/img/properties/properties_{{total_listing.property_id}}.jpg" style="width:188px;height:126px;"/></p>-->
                        <p style="font-weight:bold;">{{total_listing.project_name}}:{{total_listing.propsubtype}} for {{total_listing.property_for}}</p>
                        <p>{{total_listing.sale_area}} Sq.Ft @ {{total_listing.exp_price}}</p>
                        <p></p><br>
                        <p>{{total_listing.project_contact}}</p>
                        <p>{{total_listing.usermobileno}}</p>
                    </div>
                </a>
            </li>
        </ul>
        <div id="viewmore">
            <p>Residential &nbsp;&nbsp;&nbsp;&nbsp;:182</p>
            <p>Commercial  &nbsp;&nbsp;&nbsp;:108</p>
            <p style="margin-top:40px;font-size:20px;font-weight:500;">MORE <i class="fa fa-angle-double-right"></i>&nbsp;</p>
        </div>
    </div>
</div>

<div style="background-color:#f5f4fd;color:#605f5f;width:100%;height:394px;margin-top:6px;padding:60px;padding-top:42px;font-family:Helvetica Neue Thin;">
    <h1 style="color:#ff0000;margin-top:0px;margin-bottom:0px;">Enquiries</h1>
    <p style="font-weight:bold; ">These are total properties from the current date range</p>
    <div class="flexslider" flex-slider="">
        <ul class="slides">
            <li>
                <div class="slider">
                        <div class="cornerno">1</div>
                    <p><img src="dist/img/properties1.jpg"/></p>
                    <p style="font-weight:bold;">Land 100 Bigha: Land/Plot</p>
                    <p>Taluka: Sami Sami</p>
                    <p></p><br>
                    <p>Mr. Hiteshbhai Chaudhari</p>
                    <p>8401064164</p>
                </div>
            </li>
            <li>       
                <div class="slider">
                        <div class="cornerno">2</div>
                    <p><img src="dist/img/properties2.jpg"/></p>
                    <p style="font-weight:bold;">Holidays Resort 2BHK</p>
                    <p>Taluka: Sami Sami</p>
                    <p></p><br>
                    <p>Mr. Mangesh Chaudhari</p>
                    <p>8401064164</p>
                </div>
            </li>
            
            <li>
                <div class="slider">
                        <div class="cornerno">3</div>
                    <p><img src="dist/img/enquiries1.jpg"/></p>
                    <p style="font-weight:bold;">Villa Holidays 2BHK</p>
                    <p>Taluka: Sami Sami</p>
                    <p></p><br>
                    <p>Mr. Suresh Patil</p>
                    <p>8401064164</p>
                </div>
            </li>
            <li>
                <div class="slider">
                        <div class="cornerno">4</div>
                    <p><img src="dist/img/enquiries4.jpg"/></p>
                    <p style="font-weight:bold;">Land 100 Bigha: Land/Plot</p>
                    <p>Taluka: Sami Sami</p>
                    <p></p><br>
                    <p>Mr. Sanjay Shinde</p>
                    <p>8401064164</p>
                    </div>
                </li>
            <li>
                <div class="slider">
                        <div class="cornerno">5</div>
                    <p><img src="dist/img/properties5.jpg"/></p>
                    <p style="font-weight:bold;">Land 100 Bigha: Land/Plot</p>
                    <p>Taluka: Sami Sami</p>
                    <p></p><br>
                    <p>Mr. Babasaheb PAtil</p>
                    <p>8401064164</p>
                </div>
            </li>
            <li>
                <div class="slider">
                        <div class="cornerno">6</div>
                    <p><img src="dist/img/properties1.jpg"/></p>
                    <p style="font-weight:bold;">Land 100 Bigha: Land/Plot</p>
                    <p>Taluka: Sami Sami</p>
                    <p></p><br>
                    <p>Mr. Arjun Patel</p>
                    <p>8401064164</p>
                </div>
            </li>
            <li>
                <div class="slider">
                        <div class="cornerno">7</div>
                    <p><img src="dist/img/properties2.jpg"/></p>
                    <p style="font-weight:bold;">Siddhi Dhata Alay, Gandinagar</p>
                    <p>Taluka: Sami Sami</p>
                    <p></p><br>
                    <p>Mr. Hiteshbhai Chaudhari</p>
                    <p>8401064164</p>
                </div>
            </li>
        </ul>
        <div id="viewmore">
            <p>Residential &nbsp;&nbsp;&nbsp;&nbsp;:182</p>
            <p>Commercial  &nbsp;&nbsp;&nbsp;:108</p>
            <p style="margin-top:40px;font-size:20px;font-weight:500;">MORE <i class="fa fa-angle-double-right"></i>&nbsp;</p>
        </div>
    </div>
</div>


<style>
    .slider
    {
        height:264px;
        width:192px;
        float: left;
        margin-left:2px;
    }
    .slider p
    {
        margin: 0 0 5px 0;
        line-height: 1.2em;
    }


    .flexslider
    {
        background:none;
        border:0px;
        width:97%;
    }
    .flex-control-nav
    {
        display: none;
    }
    .flex-direction-nav a
    {
        height:45px;
    }
    .flexslider:hover .flex-direction-nav .flex-prev
    {
        margin-left:-45px;
    }
    .flexslider:hover .flex-direction-nav .flex-next
    {
        right:-45px;
    }
    #viewmore
    {
        background-color:#ff0000;
        width:192px;
        height:128px;
        position:absolute;
        z-index:2;
        opacity:0.7;
        color:#ffffff;
        font-size:20px;
        right:0px;
        padding:20px;
    }
    #viewmore p{
        font-size:14px;
        line-height: 0.9;

    }
    .cornerno
    {
        background-color: #ff0000;
        width: 25px;
        height: 25px;
        position: absolute;
        z-index: 4;
        color: #ffffff;
        padding: 3px;
        padding-left: 8px;
        margin-left: 163px;
    }
    .slides a
    {
        color:#000000;
    }

    #topsheet p
    {
        margin-bottom:0px;
    }
    
    
</style>

<script type="text/javascript">
    $(document).ready(function () {
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
            $(this).toggleClass('active');
        });
        /*$('.flexslider').flexslider({
                slideshow:true,
                animation: "slide",
                itemWidth: 192,
                itemMargin: 2

        });*/

    });
</script>