<div style="background-color:#cecece;margin-top:45px;height:70px;position:fixed;z-index:1000;width:100%;padding:10px;">
</div>
<div class="clearfix"></div>

<div id="expense_head_info" style="padding:10px;border-top:0px;background-color:#f1f1f1;border-radius:0px;margin-top:115px;" >

    <form novalidate name="AddNewForm" id="add-new-form" role="form" autocomplete="off">

        

        <div class="row" id="expense_head">

            <div class="col-md-6">

                <div class="box box-primary">

                    <div class="box-header">
 
                        <h3 class="box-title">Edit Expense Head</h3>

                    </div>

                    <div class="box-body">

                        <div class="form-group">

                            <label for="expense_title">Expense Head<span class="required">*</span></label>

                            <input type="text" class="form-control" id="expense_title" name="expense_title"  placeholder="expense_title" ng-model="expense_headdata.expense_title"  required />

                        </div>

                        <div class="form-group">

                            <button class="btn btn-primary" ng-disabled="AddNewForm.$invalid || isUnchanged(expense_headdata)" id="add-new-btn" ng-click="expense_head_update(expense_headdata)">Update <span class="glyphicon glyphicon-floppy-disk"></span></button>

                            <button class="btn btn-danger" ng-click="expense_head_delete(expense_headdata)">Delete <span class="glyphicon glyphicon-trash"></span></button>

                             <a href="#/expense_head_list" class="btn">Cancel</a>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </form>

</div>

