<div style="background-color:#cecece;margin-top:45px;height:70px;position:fixed;z-index:1000;width:100%;padding:10px;">       
</div>
<div class="clearfix"></div>

<div id="authorised_person_info" >

    <form novalidate name="AddNewForm" id="add-new-form" role="form" autocomplete="off">

        <div class="row">

            <div class="col-md-6">

                <div class="box box-primary">

                    <div class="box-header">

                        <h3 class="box-title">Forget Password</h3>

                    </div>

                    <div class="box-body">

                        <div class="form-group">

                            <label for="username">User Name</label>

                            <input type="text" class="form-control" id="username" name="username"  placeholder="User Name" ng-model="user.username" required focus/>

                        </div>

                        <!--<div class="form-group">

                            <label for="joining_date">Date of Joining</label>

                            <div class="input-group date" id="joining_date" date-directive="">

                                <input class="form-control" type="text" ng-model="user.joining_date" required date-directive="" />

                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>

                            </div>

                        </div>

                        <div class="form-group">

                            <label for="card_id">Card ID</label>

                            <input type="text" class="form-control" id="card_id" name="card_id"  placeholder="Card Id" ng-model="user.card_id" required />

                        </div>

                        <div class="form-group">

                            <label for="new_password">New Password</label>

                            <input type="password" class="form-control" id="new_password" name="new_password"  placeholder="New Password" ng-model="user.new_password" required  />

                        </div>

                        <div class="form-group">

                            <label for="confirm_password">Confirm Password</label>

                            <input type="password" class="form-control" id="confirm_password" name="confirm_password"  placeholder="Confirm Password" ng-model="user.confirm_password" required  />

                        </div>-->



                        <div class="form-group">

                            <button class="btn btn-primary" ng-disabled="AddNewForm.$invalid || isUnchanged(user)" id="add-new-btn" ng-click="forgetpassword(user)">Update <span class="glyphicon glyphicon-floppy-disk"></span></button>

                             <a href="#/" class="btn">Cancel</a>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </form>

</div>

