
<div class="hidden-sm hidden-xs" style="background-color:#cecece;margin-top:45px;height:70px;position:fixed;z-index:1000;width:100%;padding:10px;">
    
</div>
<div class="clearfix"></div>
<div class="box boxpadding" id="properties" style="border-top:0px;margin-top:115px;" ng-if="view_rights" >
    <div class="box-header">        
    </div>
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li class="active" ><a data-target="#employeetab" data-toggle="tab" >Employee</a></li>
            <li><a data-target="#agenttab" data-toggle="tab" >Agent</a></li>
            <li><a data-target="#franchiseetab" data-toggle="tab" >Franchisee</a></li>
            <li><a data-target="#poweredbytab" data-toggle="tab" >Powered By</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="employeetab">   
                <div class="box-body table-responsive"> 
                    <div class="col-md-12">
                        <div class="box" style="border-top:0px;">
                            <form novalidate name="employeeform" id="employeeform" role="form" autocomplete="off" >
                                <div class="row">
                                    <div class="col-md-2">       
                                        <div class="form-group">
                                            <label for="start_date">Start Date</label>
                                            <div class="input-group date" id="start_date" date-directive="">
                                                <input class="form-control" type="text" ng-model="employeedata.start_date" >
                                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">       
                                        <div class="form-group">
                                            <label for="end_date">End Date</label>
                                            <div class="input-group date" id="end_date" date-directive="">
                                                <input class="form-control" type="text" ng-model="employeedata.end_date" >
                                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label for="employeedata.teams">Teams<span class="required">*</span></label>
											<select multiple="multiple" select2 class="select2 form-control" id = "employeedata.teams" ng-model="employeedata.teams" ng-options="team.team_id as team.team_name for team in all_teams"  style="width:100%;" required ng-change="select_assign_to(employeedata.teams,0)">
                                            </select>                   
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label for="sub_teams">Sub Teams</label>
                                            <select class="select2 form-control" multiple="multiple"  id = "sub_teams_e"  ng-model="employeedata.sub_teams" ng-options="sub_team.sub_team_id as sub_team.sub_team_name for sub_team in sub_teams_list"  style="width:100%;" ng-change="select_assign_to(employeedata.teams,employeedata.sub_teams)">
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label for="employeedata.user_id">Employee</label>
                                            <select class="select2 form-control"  id = "employeedata.user_id" select2 ng-model="employeedata.user_id" ng-options="user.user_id as user.name + ' - ' + user.sub_team_name for user in employee_listusers" style="width:100%;" >
                                            </select>
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-2">
                                        <button class="btn btn-primary" id="employeeform-btn" ng-click="getemployeedata_report(employeedata)" style="margin-top:25px;">Go</button>
                                    </div>
                                </div>
                            </form>
                            <h1 style="text-align: center;">Employee Report</h1>
                            <div id="employee_div" class="html_content"  compile-html="employee_reportHtml" style="margin-top:10px;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="agenttab">   
                <div class="box-body table-responsive"> 
                    <div class="col-md-12">
                        <div class="box" style="border-top:0px;">
                            <form novalidate name="agentform" id="agentform" role="form" autocomplete="off" >
                                <div class="row">
                                    <div class="col-md-2">       
                                        <div class="form-group">
                                            <label for="start_date">Start Date</label>
                                            <div class="input-group date" id="start_date" date-directive="">
                                                <input class="form-control" type="text" ng-model="agentdata.start_date" >
                                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">       
                                        <div class="form-group">
                                            <label for="end_date">End Date</label>
                                            <div class="input-group date" id="end_date" date-directive="">
                                                <input class="form-control" type="text" ng-model="agentdata.end_date" >
                                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label for="agentdata.teams">Teams<span class="required">*</span></label>
											<!--<select multiple="multiple" select2 class="select2 form-control" id = "agentdata.teams" ng-model="agentdata.teams" ng-options="team.team_id as team.team_name for team in branch_teams" ng-change="select_assign_to(agentdata.teams,agentdata.sub_teams)"  style="width:100%;" required>-->
           <!--                                 </select>                   -->
                                            <select multiple="multiple" select2 class="select2 form-control" id = "agentdata.teams" ng-model="agentdata.teams" ng-options="team.team_id as team.team_name for team in all_teams" ng-change="select_assign_to(agentdata.teams,0)"  style="width:100%;" required>	
                                            </select>   
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label for="sub_teams">Sub Teams</label>
                                            <select class="select2 form-control" multiple="multiple"  id = "sub_teams_a"  ng-model="agentdata.sub_teams" ng-options="sub_team.sub_team_id as sub_team.sub_team_name for sub_team in sub_teams_list"  style="width:100%;" ng-change="select_assign_to(agentdata.teams,agentdata.sub_teams)">
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label for="agentdata.user_id">Agent</label>
                                            <select class="select2 form-control"  id = "agentdata.user_id" select2 ng-model="agentdata.user_id" ng-options="user.user_id as user.name + ' - ' + user.sub_team_name for user in agent_listusers" style="width:100%;" >
                                            </select>
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-2">
                                        <button class="btn btn-primary" id="agentform-btn" ng-click="getagentdata_report(agentdata)" style="margin-top:25px;">Go</button>
                                    </div>
                                </div>
                            </form>
                            <h1 style="text-align: center;">Agent Report</h1>
                            <div id="agent_div" class="html_content"  compile-html="agent_reportHtml" style="margin-top:10px;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="franchiseetab">   
                <div class="box-body table-responsive"> 
                    <div class="col-md-12">
                        <div class="box" style="border-top:0px;">
                            <form novalidate name="franchiseeform" id="franchiseeform" role="form" autocomplete="off" >
                                <div class="row">
                                    <div class="col-md-2">       
                                        <div class="form-group">
                                            <label for="start_date">Start Date</label>
                                            <div class="input-group date" id="start_date" date-directive="">
                                                <input class="form-control" type="text" ng-model="franchiseedata.start_date" >
                                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">       
                                        <div class="form-group">
                                            <label for="end_date">End Date</label>
                                            <div class="input-group date" id="end_date" date-directive="">
                                                <input class="form-control" type="text" ng-model="franchiseedata.end_date" >
                                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label for="franchiseedata.teams">Teams<span class="required">*</span></label>
											<select multiple="multiple" select2 class="select2 form-control" id = "franchiseedata.teams" ng-model="franchiseedata.teams" ng-options="team.team_id as team.team_name for team in franchisee_teams"  style="width:100%;" required>
                                            </select>                   
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label for="sub_teams">Sub Teams</label>
                                            <select class="select2 form-control" multiple="multiple"  id = "sub_teams_f"  ng-model="franchiseedata.sub_teams" ng-options="sub_team.sub_team_id as sub_team.sub_team_name for sub_team in sub_teams_list"  style="width:100%;" ng-change="select_assign_to(franchiseedata.teams,franchiseedata.sub_teams)">
                                            </select>
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-2">
                                        <button class="btn btn-primary" id="franchiseeform-btn" ng-click="getfranchiseedata_report(franchiseedata)" style="margin-top:25px;">Go</button>
                                    </div>
                                </div>
                            </form>
                            <h1 style="text-align: center;">Franchisee Report</h1>
                            <div id="franchisee_div" class="html_content"  compile-html="franchisee_reportHtml" style="margin-top:10px;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="poweredbytab">   
                <div class="box-body table-responsive"> 
                    <div class="col-md-12">
                        <div class="box" style="border-top:0px;">
                            <form novalidate name="poweredbyform" id="poweredbyform" role="form" autocomplete="off" >
                                <div class="row">
                                    <div class="col-md-2">       
                                        <div class="form-group">
                                            <label for="start_date">Start Date</label>
                                            <div class="input-group date" id="start_date" date-directive="">
                                                <input class="form-control" type="text" ng-model="poweredbydata.start_date" >
                                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">       
                                        <div class="form-group">
                                            <label for="end_date">End Date</label>
                                            <div class="input-group date" id="end_date" date-directive="">
                                                <input class="form-control" type="text" ng-model="poweredbydata.end_date" >
                                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label for="poweredbydata.teams">Teams<span class="required">*</span></label>
											<select multiple="multiple" select2 class="select2 form-control" id = "poweredbydata.teams" ng-model="poweredbydata.teams" ng-options="team.team_id as team.team_name for team in franchisee_teams"  style="width:100%;" required>
                                            </select>                   
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label for="sub_teams">Sub Teams</label>
                                            <select class="select2 form-control" multiple="multiple"  id = "sub_teams_p"  ng-model="poweredbydata.sub_teams" ng-options="sub_team.sub_team_id as sub_team.sub_team_name for sub_team in sub_teams_list"  style="width:100%;" ng-change="select_assign_to(poweredbydata.teams,poweredbydata.sub_teams)">
                                            </select>
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-2">
                                        <button class="btn btn-primary" id="poweredbyform-btn" ng-click="getpoweredbydata_report(poweredbydata)" style="margin-top:25px;">Go</button>
                                    </div>
                                </div>
                            </form>
                            <h1 style="text-align: center;">Powered By Report</h1>
                            <div id="poweredby_div" class="html_content"  compile-html="poweredby_reportHtml" style="margin-top:10px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    #more_info
    {
        display:none;
        margin-top:5px;
    }
    .slider
    {
        height:264px;
        width:192px;
        float: left;
        margin-left:2px;
    }
    .slider p
    {
        margin: 0 0 5px 0;
        line-height: 1.2em;
    }


    .flexslider
    {
        background:none;
        border:0px;
        /*width:97%;*/
        margin-left: 30px;
        margin-right: 40px;
    }
    .flex-control-nav
    {
        display: none;
    }
    .flex-direction-nav a
    {
        height:45px;
        top:20%;
    }
    .flexslider:hover .flex-direction-nav .flex-prev
    {
        margin-left:-45px;
    }
    .flexslider:hover .flex-direction-nav .flex-next
    {
        right:-45px;
    }
    #viewmore
    {
        background-color:#d2aa4b;
        width:192px;
        height:128px;
        position:absolute;
        z-index:2;
        opacity:0.7;
        color:#ffffff;
        font-size:20px;
        right:0px;
        padding:20px;
    }
      .div_ht{
            height: 350px;
            padding:20px;
           }
     @media screen and (max-width:991px)
        {
            .flex-direction-nav .flex-next{
                right: -33px;
            }
            .flex-direction-nav .flex-prev{
                left: -25px;
            }
            
           #viewmore{
            display:none;
           }
           .header{
            font-size: 20px;
           }
           .imgdata_1{
            position: absolute;
            padding-left: 10px;
            top:85px;
           }
           .imgdata_2{
            position: absolute;
            padding-left:  10px;
            top:102px;
           }
           .div_ht{
            height: 250px;
            padding: 0px;
           }

        }

    #viewmore p{
        font-size:14px;
        line-height: 0.9;

    }
    .cornerno
    {
        background-color: #d2aa4b;
        width: 25px;
        height: 25px;
        position: absolute;
        z-index: 4;
        color: #ffffff;
        padding: 3px;
        padding-left: 8px;
        margin-left: 163px;
    }
    .slides a
    {
        color:#000000;

    }
    #topsheet p
    {
        margin-bottom:0px;
    }
  
    .small-box h3 {
        font-size: 17px;
        color:#ffffff;
    }
    .small-box {
        color:#ffffff;
    }
    .catname
    {
        color:#000000;
    }
    .panel-group
    {
        border: 1px solid aliceblue;
    }  
    .panel-footer
    {
        background:none;
    }
    .chart {
        height:500px;
    }
    .string { color: green; }
    .number { color: darkorange; }
    .boolean { color: blue; }
    .null { color: magenta; }
    .key { color: red; }
    #legend1 {
        height: 50px;
        /*background: rgba(127, 127, 127, 0.5)*/
    }
    #legend1 span {
        display: inline-block;
        padding: 15px 30px;
        position: relative;
    }
    #legend1 span:before {
        padding-right: 4px;
        content: '\2666';
        text-decoration-style: solid;
        font-size:20px;
        /*text-decoration: line-through;*/
    }
    
    #legend2 {
        height: 50px;
        /*background: rgba(127, 127, 127, 0.5)*/
    }
    #legend2 span {
        display: inline-block;
        padding: 15px 30px;
        position: relative;
    }
    #legend2 span:before {
        padding-right: 4px;
        content: '\2666';
        text-decoration-style: solid;
        font-size:20px;
        /*text-decoration: line-through;*/
    }
    
    #legend3 {
        height: 50px;
        /*background: rgba(127, 127, 127, 0.5)*/
    }
    #legend3 span {
        display: inline-block;
        padding: 15px 30px;
        position: relative;
    }
    #legend3 span:before {
        padding-right: 4px;
        content: '\2666';
        text-decoration-style: solid;
        font-size:20px;
        /*text-decoration: line-through;*/
    }
    
    #legend4 {
        height: 50px;
        /*background: rgba(127, 127, 127, 0.5)*/
    }
    #legend4 span {
        display: inline-block;
        padding: 15px 30px;
        position: relative;
    }
    #legend4 span:before {
        padding-right: 4px;
        content: '\2666';
        text-decoration-style: solid;
        font-size:20px;
        /*text-decoration: line-through;*/
    }
    
    
    .morris-hover{position:absolute;z-index:1000;}
.morris-hover.morris-default-style{border-radius:10px;padding:6px;color:#666;background:rgba(255, 255, 255, 0.8);border:solid 2px rgba(230, 230, 230, 0.8);font-family:sans-serif;font-size:12px;text-align:center;}
    .morris-hover.morris-default-style .morris-hover-row-label{font-weight:bold;margin:0.25em 0;}


    .marquee-sibling {
        padding: 0;
        /*background-image: url('dist/img/red_strip.jpg');
        background-size:24% 48px;
        background-repeat: no-repeat;*/

        background-image:   -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eb1839), to(#2d0102));background-image:   -webkit-linear-gradient(top, #eb1839,#2d0102);
        background-image:   -moz-linear-gradient(top, #eb1839,#2d0102);filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#eb1839', endColorStr='#2d0102', GradientType=0);
        -ms-filter:             'progid:DXImageTransform.Microsoft.Gradient(startColorStr='#eb1839', endColorStr='#2d0102', GradientType=0)';
        background-image:   -ms-linear-gradient(top, #eb1839, #2d0102);
        background-image:   -o-linear-gradient(top, #eb1839,#2d0102);
        /*background:#e31b23;*/
        font-size: 25px;
        font-weight: normal;
        color: #ffffff;
        text-align: center;
        left: 0;
        z-index: 2000;
        width:24%;
        height:48px;
        text-shadow: 2px 3px 5px #000000;
        
        
    }
        
    .marquee-sibling1 {
        padding: 0;
        /*background-image: url('dist/img/red_strip.jpg');
        background-size:100% 48px;
        background-repeat: no-repeat;*/
        background-image:   -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eb1839), to(#2d0102));background-image:   -webkit-linear-gradient(top, #eb1839,#2d0102);
        background-image:   -moz-linear-gradient(top, #eb1839,#2d0102);filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#eb1839', endColorStr='#2d0102', GradientType=0);
        -ms-filter:             'progid:DXImageTransform.Microsoft.Gradient(startColorStr='#eb1839', endColorStr='#2d0102', GradientType=0)';
        background-image:   -ms-linear-gradient(top, #eb1839, #2d0102);
        background-image:   -o-linear-gradient(top, #eb1839,#2d0102);
        /*background:#e31b23;*/
        font-size: 25px;
        font-weight: normal;
        color: #ffffff;
        text-align: center;
        left: 0;
        z-index: 2000;
        text-shadow: 2px 3px 5px #000000;
        bottom:35px;
        width:24%;
        height:48px;
        padding-top:5px;
        
    }

    .marquee, *[class^="marquee"] {
        /*display: inline-block;*/
        white-space: nowrap;
        position:absolute;
        margin-top:-1px;
    }

    .marquee{
        clear:both;
    /*margin-left: 25%;*/
    }

    .marquee-content-items{
        display: inline-block;
        padding: 5px;
        margin: 0;
        height: 48px;
        position: relative;
        font-size:18px;
        padding-top:2px;
    
    }

    .marquee-content-items li{
        display: inline-block;
        line-height: 30px;
        color: #fff;
    }

    .marquee-content-items li:after{
        content: "|";
        margin: 0 1em;
    }
</style>

<script type="text/javascript">
    $(document).ready(function () {
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
            $(this).toggleClass('active');
        });
        /*$('.flexslider').flexslider({
                slideshow:true,
                animation: "slide",
                itemWidth: 192,
                itemMargin: 2

        });*/

    });
</script>
<script>
    /*$(function () {
      "use strict";
      /*var line = new Morris.Line({
        element: 'line-chart',
        resize: true,
        data: [
          {y: 'Trainee', item1: 100000},
          {y: 'Sales Executive', item1: 150000},
          {y: 'Sr.Sales Executive', item1: 200000},
          {y: 'Manager', item1: 250000},
          {y: 'Sr. Manager', item1: 300000}
        ],
        xkey: 'y',
        ykeys: ['item1'],
        labels: ['Item 1'],
        lineColors: ['#3c8dbc'],
        hideHover: 'auto'
      });
    });
    var lineGraph = Morris.Area({
    element: 'line-chart',
    xkey: 'post',
    parseTime: false,
    ykeys: ['amount'],
    labels: ['Amount'],
    xLabelAngle: 60,
    fillOpacity: '0.7',
    gridTextFamily: 'mtsRegular',
    hideHover: 'auto',
    lineWidth: '1px',
    lineColors: ['#076178'],
    pointFillColors: ['#fff'],
    pointStrokeColors: ['#012e42'],
    data: [{ post: 'Trainee', amount: 1 },{ post: 'Sales Executive', amount: 1.5,},{ post: 'Sr.Sales Executive', amount: 2.5 },{ post: 'Manager', amount: 3.5,},{ post: 'Sr. Manager', amount: 5}],
    resize: true
});
/*var lineGraph = Morris.Area({
    element: 'line-chart',
    xkey: 'Date',
    ykeys: ['Sales', 'Revenue'],
    labels: ['Sales','Revenue'],
    fillOpacity: '0.7',
    gridTextFamily: 'mtsRegular',
    hideHover: 'auto',
    lineWidth: '1px',
    lineColors: ['#076178','#1ecee8'],
    pointFillColors: ['#fff'],
    pointStrokeColors: ['#012e42'],
    data: [{ 'Date': '2018-08-06', Sales: 1, Revenue: 9.75},{ Date: '2018-08-08', Sales: 1, Revenue: 21.03},{ Date: '2018-08-09', Sales: 1, Revenue: 4.75},{ Date: '2018-08-12', Sales: 1, Revenue: 27.66},{ Date: '2018-08-13', Sales: 3, Revenue: 63.33},{ Date: '2018-08-16', Sales: 2, Revenue: 192.29},{ Date: '2018-08-18', Sales: 2, Revenue: 47.37},{ Date: '2018-08-19', Sales: 1, Revenue: 28.94},{ Date: '2018-08-20', Sales: 1, Revenue: 66.09},{ Date: '2018-08-21', Sales: 1, Revenue: 24.73},{ Date: '2018-08-22', Sales: 4, Revenue: 93.53},{ Date: '2018-08-23', Sales: 1, Revenue: 27.59},{ Date: '2018-08-25', Sales: 2, Revenue: 142.52},{ Date: '2018-08-26', Sales: 1, Revenue: 24.77},{ Date: '2018-08-27', Sales: 3, Revenue: 69.79},{ Date: '2018-08-29', Sales: 2, Revenue: 67.63},{ Date: '2018-08-30', Sales: 1, Revenue: 15.3},{ Date: '2018-09-01', Sales: 1, Revenue: 73.69},{ Date: '2018-09-02', Sales: 4, Revenue: 270.38},{ Date: '2018-09-03', Sales: 2, Revenue: 50.07}],
    resize: true
});
    });*/
  </script>

<!--script src="bower_components/raphael/raphael.min.js"></script>
  <script src="bower_components/morris.js/morris.min.js"></script-->

  <style>

    #reminderweek
                {
                    display:none;
                }
                
                .callout.callout-info {
                    background-color: #295F65;
                    border-color: #C2E274;
               }
                
                .callout {
                    padding: 5px 10px 5px 5px;
                    margin-bottom:10px;
                    height:75px;
                }
        
                .right_drawer_task {
                    word-wrap: break-word;
                    font-size: 14px;
                    width: 14px;
                    height: 195px;
                    font-weight: bold;
                    /*position: fixed;*/
                    right: -1px;
                    z-index: 5;
                    /*background-color: #d2aa4b;*/
                    width: 25px;
                    padding: 7px;
                    color: white;
                    border: 1px solid;
                    border-left: 5px;
                    border-radius: 10px 0px 0px 10px;
                    top: 233px;
                    z-index:9999;
                }
                .close_drawer_task {
                    font-size: 26px;
                    float: left;
                    margin-left: 0px;
                    margin-top: 0px;
                    height: 39px;
                    display:none;
                    background-color:#d2aa4b;
                    border:0px;
                    
                }
                #task_manager
                {
                    width:100%;
                    margin-right:10px;
                    font-size:13px;
                    float:left;
            /* Safari 4+, Chrome 1-9 */                         
            /*background-image:   -webkit-gradient(linear, 0% 0%, 0% 100%, from(#d2aa4b), to(#f2dfb1));
            /* Safari 5.1+, Mobile Safari, Chrome 10+ */    
            /*background-image:   -webkit-linear-gradient(top, #d2aa4b,#f2dfb1);
            /* Firefox 3.6+ */                                      
            /*background-image:   -moz-linear-gradient(top, #d2aa4b,#f2dfb1);
            /* IE 7-*/                                                  
            /*filter:                 progid:DXImageTransform.Microsoft.Gradient(startColorStr='#d2aa4b', endColorStr='#f2dfb1', GradientType=0);
            /* IE 8+*/                                                  
            /*-ms-filter:             "progid:DXImageTransform.Microsoft.Gradient(startColorStr='#d2aa4b', endColorStr='#f2dfb1', GradientType=0)";
            /* IE 10+ */                                               /* background-image:   -ms-linear-gradient(top, #d2aa4b, #f2dfb1);
            /* Opera 11.10+ */                                      /*background-image:   -o-linear-gradient(top, #d2aa4b,#f2dfb1);		
    
                color:#ffffff;
                font-size:14px;
                /*	-moz-box-shadow: inset 0 0 3px 		#000000, 0 0 9px 		#000000;
                -webkit-box-shadow: inset 0 0 3px 	#000000, 0 0 9px 		#000000 ;
                box-shadow: inset 0 0 3px 			#000000, 0 0 9px 		#000000;*/
    
    
                }
                #tasks
                {
                    min-height:300px;
                    width:100%;
                    color:#000000;
                    /*/* Safari 4+, Chrome 1-9 */                         
                    /*background-image:   -webkit-gradient(linear, 0% 0%, 0% 100%, from(#d2aa4b), to(#f2dfb1));
            /* Safari 5.1+, Mobile Safari, Chrome 10+ */    
            /*background-image:   -webkit-linear-gradient(top, #d2aa4b, #f2dfb1);
            /* Firefox 3.6+ */                                      
            /*background-image:   -moz-linear-gradient(top, #d2aa4b, #f2dfb1);
            /* IE 7-*/                                                  
            /*filter:                 progid:DXImageTransform.Microsoft.Gradient(startColorStr='#d2aa4b', endColorStr='#f2dfb1', GradientType=0);
            /* IE 8+*/                                                  /*
            -ms-filter:             "progid:DXImageTransform.Microsoft.Gradient(startColorStr='#d2aa4b', endColorStr='#f2dfb1', GradientType=0)";
            /* IE 10+ */                                                /*background-image:   -ms-linear-gradient(top, #d2aa4b, #f2dfb1);
            /* Opera 11.10+ */                                      /*
            background-image:   -o-linear-gradient(top, #d2aa4b, #f2dfb1);		
    
                    */

                    font-size:14px;
                    
                }
        #tasks .table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
            /*background-color:  #d2aa4b;*/
            /*color:#000;*/
        }
        .modal-dialog {
            width:25%;
        }   

        #addclient
    {
        position:absolute;
        top:6%;
        left:30%;
        background-color:#ffffff;
        width:40%;
        height:350px;
        display:none;
        z-index:9000;
        -moz-box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
        -webkit-box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
        box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
        padding:30px;
        padding-top:5px;
    }
    
    .myTicker
    {
        height:235px;
        list-style-type:none;
        margin-left:-38px;
        width:100%;
        overflow:auto;
    }

    .myTicker li
    {
        list-style-type:none;
    }
    #reminders
    {
        position:fixed;
        top:25%;
        left:25%;
        background-color:#ffffff;
        width:60%;
        height:350px;
        display:none;
        z-index:9000;
        -moz-box-shadow: 15px 15px 15px rgba(68, 68, 68, 0.6);
        -webkit-box-shadow: 15px 15px 15px rgba(68, 68, 68, 0.6);
        box-shadow: 15px 15px 15px rgba(68, 68, 68, 0.6);
        /*padding:30px;
        padding-top:5px;*/
        border:1px solid #f0d2d2;
    }
    #reminders_comment
    {
        position:fixed;
        top:38%;
        left:38%;
        background-color:#ffffff;
        width:30%;
        height:200px;
        display:none;
        z-index:9001;
        -moz-box-shadow: 15px 15px 15px rgba(68, 68, 68, 0.6);
        -webkit-box-shadow: 15px 15px 15px rgba(68, 68, 68, 0.6);
        box-shadow: 15px 15px 15px rgba(68, 68, 68, 0.6);
        /*padding:30px;
        padding-top:5px;*/
        border:1px solid #f0d2d2;
    }
    .days
    {
        width:30px;
        height:30px;
        background:rgb(151, 147, 147);
        color:#000000;
        border-radius:15px;
        float:left;
        margin-left:10px;
        font-size:18px;
        padding-left:3px;
        text-align: center;
        font-weight: 600;
    }
    .days_day
    {
        font-size:13px;
        margin-top:5px;
    }
    .days_growth
    {
        width:30px;
        height:30px;
        background:rgb(151, 147, 147);
        color:#000000;
        border-radius:15px;
        float:left;
        margin-left:10px;
        font-size:14px;
        padding-top:3px;
        text-align: center;
        font-weight: 600;
    }

    .smallbox
    {
        width:16%;
        padding-left:3px;
        padding-right: 3px;
    }
    #reminder_bell 
    {
        position: fixed;
        right: 230px;
        top: 11px;
        font-size: 20px;
        color: #fff;z-index: 9000;
    }
    @media screen and (max-width: 991px)  {

        #reminders_comment
        {
            left:2%;
            width:96%;
        }   
        .smallbox
        {
            width:33%;
            padding-right: 3px;
            padding-left:3px;
        }
        #growth_plan 
        {
            display:none;
        }
        #reminder_bell 
        {
            display:none;
        }
    }
      </style>

      <script>

        $(function () {
            //Initialize Select2 Elements
            $('.select2').select2();


        });
    </script>
