<div style="background-color:#cecece;margin-top:45px;height:70px;position:fixed;z-index:1000;width:100%;padding:10px;">       
    </div>
    <div class="clearfix"></div>

<div class="box">

    <div class="box-header">

        <h3 class="box-title">Generate Form</h3> 

    </div>

    <aside class="right-side">

        <div class="row">

            <div class="col-md-6">

                <div class="col-md-8">

                    <div class="form-group">

                        <label for="table_name">Select Table</label>

                        <select class="selectpicker form-control" ng-model="table_name" ng-options="tablelist.table_name as tablelist.table_name for tablelist in tablelists">

                        </select>

                    </div>

                </div>

                <div class="col-md-4">

                    <a class="btn btn-primary" ng-click="showcolumns(table_name)" style="margin-top:22px;">Show Columns</a>

                </div>

            </div>

        </div>

        

        <div class="row" id="show">

            <div class="col-md-6">

                <div class="row" ng-if="columnlists.length">

                    <div class="col-md-6">

                        <a class="btn btn-primary" ng-click="generateform(table_name)">Generate Form</a>

                    </div>

                </div>

                <div class="box-body table-responsive">

                    <table class="table table-bordered table-striped" ng-if="columnlists.length"><!-- datatable-setup="">-->

                        <thead>

                            <tr>

                                <th><div class="checkbox"><label><input type="checkbox" name="isChecked" id="isChecked" ng-model="isChecked" ng-change="select_unselect(isChecked)"></label></div></th>

                                <th>Column Name</th>

                                <th>Data Type</th>

                                <th>Width</th>

                            </tr>

                        </thead>

                            <tbody>

                                <tr ng-repeat="columnlist in columnlists">

                                    <td><div class="checkbox"><label><input type="checkbox" class="check_element" name="item.selectcol" id="item.selectcol"  ng-model="item.selectcol" value="{{columnlist.COLUMN_NAME}}"></label></div></td>

                                    <td>{{columnlist.COLUMN_NAME}}</td>

                                    <td>{{columnlist.DATA_TYPE}}</td>

                                    <td>{{columnlist.CHARACTER_MAXIMUM_LENGTH}}</td>

                                </tr>

                            </tbody>

                        <tfoot>

                            <tr>

                                <th>Column Name</th>

                                <th>Data Type</th>

                                <th>Width</th>

                                <th></th>

                            </tr>

                        </tfoot>

                    </table>    

                </div>

            </div>

        </div>

    </aside>

    <div class="row" id="showhtml">

        <div class="col-md-12">

            <div class="row">

                <div class="col-md-12">

                    <div class="form-group">

                        <label for="html">Copy & Paste to your Project</label>

                        <textarea class="form-control" ng-model="html" id="html" rows="20"></textarea>

                    </div>

                </div>

            </div>

        </div>

    </div>

    <style>

        #showhtml

        {

            display: none;

        }

    </style>