<div style="background-color:#cecece;margin-top:45px;height:70px;position:fixed;z-index:1000;width:100%;padding:10px;">

    <a class="btn btn-primary"  ng-if="hasRoles.includes('Sub Admin')" href="" style="margin:10px;" >Add Locality</a>
    <a class="btn btn-primary"  ng-if="!(hasRoles.includes('Sub Admin'))" href="#/locality_add" style="margin:10px;" >Add Locality</a>
    <!--<a class="btn btn-primary" href="#/locality_add" style="margin:10px;" >Add Locality</a>-->
    <!--<a href="javascript:void(0)" style="float:right;margin-right:20px;" ng-click="import_enquiries()">Import</a>-->
</div>
<div class="clearfix"></div>
<div class="box" style="margin:5px;padding:10px;border-top:0px;background-color:#f1f1f1;border-radius:0px;margin-top:115px;" >
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li class="active" ><a data-target="#localitiestab" data-toggle="tab">Localities</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="localitiestab">
                <div class="box-body table-responsive">
                <table class="table table-bordered table-hover" datatable-setup="" data-page-length='10'>
                    <thead>
                        <tr>
                            <th style="width:80px;">Locality ID</th>
                            <th>Locality</th>
                            <th>Area</th>
                            <th>City</th>
                            <th>State</th>
                            <th>Country</th>
                            <!--<th>Latitude</th>
                            <th>Longitude</th>-->
                            <th ng-if="!(hasRoles.includes('Sub Admin'))"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="locality in localities">
                            <td>{{locality.locality_id}}</td>
                            <td>{{locality.locality}}</td>
                            <td>{{locality.area_name}}</td>
                            <td>{{locality.city}}</td>
                            <td>{{locality.state}}</td>
                            <td>{{locality.country}}</td>
                            <td ng-if="!(hasRoles.includes('Sub Admin'))">
                                <a href="#/locality_edit/{{locality.locality_id}}" class="btn btn-default btn-sm">
                                    <i class="glyphicon glyphicon-pencil"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Locality</th>
                            <th>Description</th>
                            <th>Area</th>
                            <th>Latitude</th>
                            <th>Longitude</th>
                            <th ng-if="!(hasRoles.includes('Sub Admin'))"></th>
                        </tr>
                    </tfoot>
                </table>    
            </div>
        </div>
    </div>
</div>
</div>



