<div style="background-color:#cecece;margin-top:45px;height:70px;position:fixed;z-index:1000;width:100%;padding:10px;">
</div>
<div class="clearfix"></div>

<div id="permission_info"  style="padding:10px;border-top:0px;background-color:#f1f1f1;border-radius:0px;margin-top:115px;">

    <form novalidate name="AddNewForm" id="add-new-form" role="form" autocomplete="off">

        <div class="row" id="permission">

            <div class="col-md-6">

                <div class="box box-primary">

                    <div class="box-header">

                        <h3 class="box-title">Add Permission</h3>

                    </div>

                    <div class="box-body">

                        <div class="form-group">

                            <label for="permission">Permission<span class="required">*</span></label>

                            <input type="text" class="form-control" id="permission" name="permission"  placeholder="Permission" ng-model="permission.permission" required focus/>

                        </div>

                        <div class="form-group">

                            <button class="btn btn-primary" ng-disabled="AddNewForm.$invalid || isUnchanged(permission)" id="add-new-btn" ng-click="permission_add_new(permission)">Save </button>

                             <a href="#/permission_list" class="btn">Cancel</a>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </form>

</div>



