<div style="background-color:#cecece;margin-top:45px;height:70px;position:fixed;z-index:1000;width:100%;padding:10px;">
    
    <a class="btn btn-primary" href="#/sub_teams_add" style="margin:10px;" >Add Sub Team</a>
    <!--<a href="javascript:void(0)" style="float:right;margin-right:20px;" ng-click="import_enquiries()">Import</a>-->
</div>
<div class="clearfix"></div>
<div class="box" style="margin:5px;padding:10px;border-top:0px;background-color:#f1f1f1;border-radius:0px;margin-top:115px;">
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li class="active" ><a data-target="#sub_teamstab" data-toggle="tab">Sub Teams</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="sub_teamstab">
                <div class="box-body table-responsive">
                    <table class="table table-bordered table-striped" datatable-setup="" >
                        <thead>
                            <tr>
                                <th>Sub Team</th>
                                <th>Sub Team Description</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="sub_team in sub_teams_list">
                                <td>{{sub_team.sub_team_name}}</td>
                                <td>{{sub_team.sub_team_description}}</td>
                                <td><a href="#/sub_teams_edit/{{sub_team.sub_team_id}}" class="btn btn-default btn-sm"><i class="glyphicon glyphicon-pencil"></i></button></td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Sub Team</th>
                                <th>Sub Team Description</th>
                                <th></th>
                            </tr>
                        </tfoot>
                    </table>    
                </div>
            </div>
        </div>
    </div>
</div>