<div style="background-color:#cecece;margin-top:45px;height:70px;position:fixed;z-index:1000;width:100%;padding:10px;">
    
    <!--<a class="btn btn-primary" href="#/teams_add" style="margin:10px;" >Add Team</a>-->
    <a class="btn btn-primary" ng-if="hasRoles.includes('Sub Admin')" href="" style="margin:10px;" >Add Team</a>
    <a class="btn btn-primary" ng-if="!(hasRoles.includes('Sub Admin'))" href="#/teams_add" style="margin:10px;" >Add Team</a>
    <!--<a href="javascript:void(0)" style="float:right;margin-right:20px;" ng-click="import_enquiries()">Import</a>-->
</div>
<div class="clearfix"></div>
<div class="box" style="margin:5px;padding:10px;border-top:0px;background-color:#f1f1f1;border-radius:0px;margin-top:115px;">
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li class="active" ><a data-target="#teamstab" data-toggle="tab">Teams</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="teamstab">
                <div class="box-body table-responsive">
                    <table class="table table-bordered table-striped" datatable-setup="" data-page-length='10'>
                        <thead>
                            <tr>
                                <th>Team</th>
                                <th>Team Type</th>
                                <th>Team Description</th>
                                <th>Sharing Per</th>
                                <th ng-if="!(hasRoles.includes('Sub Admin'))"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="team in teams">
                                <td>{{team.team_name}}</td>
                                <td>{{team.team_type}}</td>
                                <td>{{team.team_description}}</td>
                                <td>{{team.sharing_per}}</td>
                                <td><a href="#/teams_edit/{{team.team_id}}" class="btn btn-default btn-sm"><i class="glyphicon glyphicon-pencil"></i></a></td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Team</th>
                                <th>Team Type</th>
                                <th>Team Description</th>
                                <th>Sharing Per</th>
                                <th ng-if="!(hasRoles.includes('Sub Admin'))"></th>
                            </tr>
                        </tfoot>
                    </table>    
                </div>
            </div>
        </div>
    </div>
</div>